<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.floor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustClean">
        <activity
            android:name="com.example.floor.bookroof1"
            android:exported="false" />
        <activity
            android:name="com.example.floor.roof1"
            android:exported="false" />
        <activity
            android:name="com.example.floor.bill1"
            android:exported="false" />
        <activity
            android:name="com.example.floor.deliveryform1"
            android:exported="false" />
        <activity
            android:name="com.example.floor.checkot"
            android:exported="false" />
        <activity
            android:name="com.example.floor.deliveryform"
            android:exported="false" />
        <activity
            android:name="com.example.floor.floorcategory"
            android:exported="false" />
        <activity
            android:name="com.example.floor.ROOF"
            android:exported="false" />
        <activity
            android:name="com.example.floor.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>